<div class="navbar-component">
  <nav class="navbar fixed-top navbar-light bg-light">
    <div class="container">
      <a class="navbar-brand" routerLink="/">
        <img src="../../../../assets/img/logo.svg" alt="" width="30" height="24"
             class="d-inline-block align-text-top">
        Dog Finder
      </a>
      <form class="d-flex">
        <input class="form-control me-2" type="search" placeholder="Search breed" aria-label="Search">
        <button mat-stroked-button color="primary" class="p-0 text-dark">
          Search
        </button>
      </form>
    </div>
  </nav>
</div>
