<div class="breed-item-component">
  <mat-card (click)="showBreedInfo()">
    <mat-card-header>
      <img
        nz-image
        nzDisablePreview
        [nzSrc]="getBreedImage()"
        nzPlaceholder="../../../../../../assets/img/logo-blur.jpeg"
        alt="Breed avatar"
        mat-card-avatar
        class="breed-avatar">
      <mat-card-title class="text-capitalize">
        {{isSubBreed ? breed?.name + ' ' + parentBreed : breed?.name}}
      </mat-card-title>
      <mat-card-subtitle *ngIf="!isSubBreed">
        <strong>
          {{breed?.subBreeds?.length}} sub-breeds
        </strong>
      </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content class="mt-3">
      <img
        mat-card-xl-image
        mat-card-image
        nz-image
        nzDisablePreview
        class="mx-auto img-fluid rounded"
        [class.mt-2]="isSubBreed"
        [nzSrc]="getBreedImage()"
        nzPlaceholder="../../../../../../assets/img/logo-blur.jpeg"
        [alt]="breed?.name + ' photo'">
    </mat-card-content>

    <mat-card-actions>
      <button mat-button>Set as Favorite</button>
    </mat-card-actions>
  </mat-card>
</div>
