<div class="favorite-breed-component pt-5">
  <mat-card class="favorite-breed-card">
    <mat-card-title-group>
      <mat-card-title>
        Your favorite breed is:
      </mat-card-title>
      <mat-card-subtitle>
        <h2 class="text-secondary text-capitalize">
          <strong>
            {{ isSubBreed ? favoriteBreedName + ' ' + favoriteParentBreedName : favoriteBreedName }}
          </strong>
        </h2>
      </mat-card-subtitle>
      <img class="rounded" nz-image [nzSrc]="favoriteBreedImage" mat-card-lg-image nzDisablePreview nzPlaceholder="../../../../../assets/img/logo-blur.jpeg">
    </mat-card-title-group>
    <mat-card-actions>
      <button mat-button (click)="toggleFavoriteBreed()">
        Remove Favorite
      </button>
    </mat-card-actions>
  </mat-card>
</div>
