<div class="breed-item-component">
  <mat-card class="pb-0">
    <mat-card-header>
      <img
        [src]="breed?.image"
        alt="Breed avatar"
        mat-card-avatar
        class="breed-avatar">
      <mat-card-title class="text-capitalize">
        {{breed?.name}}
      </mat-card-title>
      <mat-card-subtitle>
        <strong>
          {{breed?.subBreeds?.length}} sub-breeds
        </strong>
      </mat-card-subtitle>
    </mat-card-header>
    <img
      class="mx-auto img-fluid rounded"
      mat-card-xl-image
      [src]="breed?.image"
      mat-card-image
      [alt]="breed?.name + ' photo'">
  </mat-card>
</div>
